.enterprise_user p {
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.enterprise_container {
    height: 150vh;
    background-color: rgba(245, 244, 243, 0.842) ;
}

.enterprise_left {
    float: left;
    width: 30%;
    height: 150vh;
}

.enterprise_user {
  float: right;
    width: 70%;
    height: 150vh;
}

.enterprise_user_admin {
  width: 80%;
  height: 150vh;
}

.enterprise_list{
    margin: 100px;
    margin-right: 0px;
}
  
.enterprise h1 {
    font-size: 2rem;
    text-transform: uppercase;
  }

  .enterprise_card {
    border: 2px solid rgb(160, 165, 175);
    background-color: #fff;
    
  }

  .enterprise_card-header {
    background-color: rgb(171, 171, 172);
    height: 60px;
    text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .enterprise_card-body {
    margin-top: 20px;
  }
  
  .connect  h2 {
    font-size: 30px;
    padding: 0.75rem 0;
  }

  .skills  h2 {
    font-size: 30px;
    padding: 0.75rem 0;
  }

  .connect {
      margin: 30px;
      
  }

  .skills {
      margin: 30px;
      border-bottom: 1px solid rgb(160, 165, 175);
  }

 
.link {
  text-decoration: none;
}

.enterprise {
  text-align: center;
  
}
  
  .skills h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: salmon;
  }
  

  
  ul {
    list-style: none;
  }
  
  
  
  .enterprise img {
    width: 10rem;
    height: 10rem;
  }
  
  
  .contact ul {
    margin-top: -2rem;
  }
  
  .contact li {
    text-align: right;
    text-transform: uppercase;
    padding: 1rem;
    color: #888;
    border-bottom: 1px solid #888;
    font-size: 0.8rem;
  }
  
  .skills > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .fa-briefcase {
    margin-top: 5px;
	margin-right: 5px;
	color: rgb(35, 87, 117);
  }

  .fa-sign-out {
    margin-top: 5px;
    margin-right: 5px;
    color: rgb(35, 87, 117);
  }