.postjob_modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .postjob_modalContainer {
    width:  80vw;
    height: 100vh;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    overflow-y: auto;
    
  }
  
  .modalContainer .title {
    display: inline-block;
    margin-top: 10px;
  }
  
  .postjob_titleCloseBtn {
    display: flex;
    justify-content:end;
  }

  .postjob_container {
    width:  75vw;
    height: 75vh;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(243, 237, 237);
    
  }

  .postjob_title {
    height: 5vw;
    border-bottom: 2px solid rgb(243, 237, 237);
  }

  .postjob_button {
    float: right;
    padding: 10px;
  }

  .postjob_title h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30px;
    padding: 15px;
  }
  
  .postjob_header {
    height: 7vw;
    border-bottom: 2px solid rgb(243, 237, 237);
    padding: 15px;
  }

  .headline_textInput {
    width: 80%;
    padding: 5px 10px; 
    border-radius: 5px;
    border-color: rgb(243, 237, 237);
  }

  .postjob_describe {
    height: 7vw;
    border-bottom: 2px solid rgb(243, 237, 237);
    padding: 15px;
  }

  .describe_textInput {
    width: 80%;
    padding: 5px 10px; 
    border-radius: 5px;
    border-color: rgb(243, 237, 237);
  }

  .postjob_describe_title p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .postjob_element {
    height: 11vw;
    padding: 15px;
  }

  .skill_textInput {
    width: 80%;
    padding: 5px 10px; 
    border-radius: 5px;
    border-color: rgb(243, 237, 237);
  }

  .budget_textInput {
    width: 80%;
    padding: 5px 10px; 
    border-radius: 5px;
    border-color: rgb(243, 237, 237);
  }

  .fa-close {
    color: rgb(35, 87, 117);
  }

