.job_modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
  }
  
  .job_modalContainer {
    width:  80vw;
    height: 100vh;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-left: -300px;
  }
  
  .modalContainer .title {
    display: inline-block;
    margin-top: 10px;
  }
  
  .job_titleCloseBtn {
    display: flex;
    justify-content:start;
  }
  

  
  .job_body_right p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    font-size: 1.7rem;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .job_body_right {
      float : right;
      width: 80%;
  }

  .job_body_left {
    width: 20%;
  }

  .job_card {
      margin-top: 30px;
  }