.findwork_container{
    height: 150vh;
    background-color: rgba(245, 244, 243, 0.842) ;
}

.findwork_title {
    height: 30vh;
    width: 100%;
    background-color: rgba(245, 244, 243, 0.842) ;
    display: flex;
}

.findwork_title_icon {
    font-size:50px;
    margin-left: 80px;
    margin-top: 70px;
    
}

.search_button {
    background-color: rgb(35, 87, 117);
    float: right;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 50px;
    width: 50px;
    font-size: 17px;
    padding-bottom: 10px;
    padding-right: 8px;
}

.findwork_body {
    height: 100vh;
    background-color: rgba(245, 244, 243, 0.842) ;
    display: flex;
}

.job_item {
    width: 100%;
}

.findwork_item {
    width: 100%;
    height: 30vh;
    list-style-type: none;
}

.findwork_item_info {
    margin-top: 50px;
}

.findwork_item_title {
    font-size: 50px;
    background-color: #fff;
    border-bottom: 1px solid rgba(219, 219, 219, 0.842);
    float: left;
    height: 30vh;
}

.findwork_item_title h5 {
    margin: 20px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.findwork_item_title p {
    font-size: 20px;
    margin: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.findwork_item_info .btn {
    margin: 10px;
}

.findwork_item_button {
    width: 30%;
    height: 30vh;
    float: right;
    background-color: #fff;
    border-bottom: 1px solid rgba(219, 219, 219, 0.842);
}

.fa-bookmark {
    margin-top: 20px;
    margin-left: 20px;
    color: rgb(35, 87, 117);
}

.fa-bookmark:hover {
    color: rgb(147, 172, 192);
}

.rating_star {
    margin-left: 20px;
}

.list_left {
    float: left;
}

.fa-user {
    margin-right: 5px;
}