.myjobs_container{
    height: 150vh;
    background-color: rgba(245, 244, 243, 0.842);
}

.myjobs_title {
    height: 30vh;
    width: 100%;
    background-color: rgba(245, 244, 243, 0.842) ;
    display: flex;
}

.myjobs_title h1 {
    margin-left: 100px;
    margin-top: 50px;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.job_item {
    height: 30vh;
}

.job_item_info {
    margin-left: 350px;
    margin-right: 350px;   
}

.job_item_title {
    font-size: 50px;
    width: 70%;
    background-color: #fff;
    border-bottom: 1px solid rgba(219, 219, 219, 0.842);
    float: left;
    height: 30vh;
}

.job_item_title h5 {
    margin: 20px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.job_item_title p {
    font-size: 20px;
    margin: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.job_item_info .btn {
    margin: 10px;
}

.job_item_button {
    width: 30%;
    height: 30vh;
    float: right;
    background-color: #fff;
    border-bottom: 1px solid rgba(219, 219, 219, 0.842);
}

